# 01. Data Loading and preprocessing

In [23]:
#import neccessary libraries
import pandas as pd
import numpy as np

In [25]:
#Load the dataset
df = pd.read_csv("IMDb_Top10_Movies.csv")
df.head()

,Title,Year,Rating,Genre,Director(s),Box Office Revenue,Lead Actors
0,1. The Shawshank Redemption,1994,9.3 (3M),"Epic, Period Drama, Prison Drama, Drama","The Ink Spots, Jack Lawrence, Stephen King, Ti...","Gross worldwide$29,332,133","Bob Gunton, Morgan Freeman, Tim Robbins"
1,2. The Godfather,1972,9.2 (2.1M),"Epic, Gangster, Tragedy, Crime, Drama","Mario Puzo, Marlon Brando, Peter Clemenza, Al ...","Gross worldwide$250,342,198","Al Pacino, Marlon Brando, James Caan"
2,3. The Dark Knight,2008,9.0 (3M),"Action Epic, Epic, Superhero, Tragedy, Action,...","Aaron Eckhart, Michael Caine, The Joker, Jonat...","Gross worldwide$1,009,057,329","Aaron Eckhart, Christian Bale, Heath Ledger"
3,4. The Godfather Part II,1974,9.0 (1.4M),"Epic, Gangster, Tragedy, Crime, Drama","Mario Puzo, Francesco Pennino, Al Pacino, Robe...","Gross worldwide$47,964,222","Al Pacino, Robert De Niro, Robert Duvall"
4,5. 12 Angry Men,1957,9.0 (917K),"Legal Drama, Psychological Drama, Crime, Drama","Henry Fonda, Jack Warden, Lee J. Cobb, Juror #...","Gross worldwide$2,945","Henry Fonda, Martin Balsam, Lee J. Cobb"

In [27]:
#Check no.of rows and colunms
df.shape

(250, 7)

In [29]:
#Check the data types
df_IMDb.dtypes

Title                 object
Year                   int32
Rating                object
Genre                 object
Director(s)           object
Box Office Revenue    object
Lead Actors           object
dtype: object

•	Filtering the Data set with the Movie list for past two decades ( 2004 to 2024).

Since we were asked to analyze data from the past two decades, filtered the dataset for the past two decades. To ensure the data quality, data cleaning was done by checking and removing the missing values and duplicated rows. 

It is ensured that the type year is numeric and converted to integer. If the year is stored as string (object), when comparing the years, it will compare alphabetically instead of numerically. Also, the invalid and unexpected values in the Year column were replaced by NaN and then removed. This ensures the correct filtering of movies between 2004 to 2024. The filtered dataset is stored as "df_IMDb" .

In [31]:
#Filtering the Data set with the Movie list for past two decades (2004 to 2024)

# Ensure Year is numeric and Converts non-numeric values to NaN
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")  

# Drop rows where Year is NaN 
df = df.dropna(subset=["Year"])

# Convert 'Year' to integer for proper comparison
df["Year"] = df["Year"].astype(int)

# Define the year range (2004 to 2024)
df_IMDb = df[(df["Year"] >= 2004) & (df["Year"] <= 2024)]

In [33]:
#Check no.of rows and colunms of dataset after filtering
df_IMDb.shape

(86, 7)

•	Clean the Rating column 

To extract only the numeric value of ratings such as 9.0 from the values in the format of 9.0(3M) used regular expression by removing everything after the decimal number including parentheses. Then converted the cleaned rating column to numeric, replaced the non-numeric values with NaN and dropped them since they were invalid.

In [60]:
# Clean the Rating column to extract only the numeric value before parentheses using 
import re

df_IMDb['Rating'] = df_IMDb['Rating'].apply(lambda x: re.sub(r'\s?\(.*\)', '', str(x)))

# Convert to numeric, replacing non-numeric values to NaN
df_IMDb['Rating'] = pd.to_numeric(df_IMDb['Rating'], errors='coerce')

# Drop rows where Rating is NaN 
df_IMDb = df_IMDb.dropna(subset=['Rating'])

# Check the cleaned data
print(df_IMDb[['Title', 'Rating']].head())

              Title  Rating
2   The Dark Knight     9.0
13        Inception     8.8
18     Interstellar     8.7
33         Parasite     8.5
37     The Departed     8.5

C:\Users\User\AppData\Local\Temp\ipykernel_21768\4226622359.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb['Rating'] = df_IMDb['Rating'].apply(lambda x: re.sub(r'\s?\(.*\)', '', str(x)))
C:\Users\User\AppData\Local\Temp\ipykernel_21768\4226622359.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb['Rating'] = pd.to_numeric(df_IMDb['Rating'], errors='coerce')

•	Cleaning the Box Office Revenue

To extract the numeric values of the revenue such as “758464713” from the values given as Gross worldwide$758,464,713, used regular expression by removing the “Gross worldwide$” and removed the commas to make sure the values are pure numbers. Then converted the cleaned revenue column to numeric, replaced the non-numeric values with NaN and dropped them since they were invalid.

In [62]:
import re

# Clean Box Office Revenue column to extract only the numeric value
df_IMDb['Box Office Revenue'] = df_IMDb['Box Office Revenue'].apply(
    lambda x: re.sub(r'Gross worldwide\$', '', str(x)).strip()
)

# Remove commas from inbetween the revenue values
df_IMDb['Box Office Revenue'] = df_IMDb['Box Office Revenue'].str.replace(',', '')

# Convert to numeric, replacing non-numeric values to NaN
df_IMDb['Box Office Revenue'] = pd.to_numeric(df_IMDb['Box Office Revenue'], errors='coerce')

# Drop rows where Box Office Revenue is NaN 
df_IMDb = df_IMDb.dropna(subset=['Box Office Revenue'])

# Check the cleaned data
print(df_IMDb[['Title', 'Box Office Revenue']].head())

              Title  Box Office Revenue
2   The Dark Knight        1.009057e+09
13        Inception        8.390306e+08
18     Interstellar        7.584647e+08
33         Parasite        2.626081e+08
37     The Departed        2.914814e+08

In [39]:
import re

# Clean the Title column by removing leading numbers and dots
df_IMDb['Title'] = df_IMDb['Title'].apply(lambda x: re.sub(r'^\d+\.\s*', '', str(x)))

# Display the cleaned column
print(df_IMDb[['Title']].head())

              Title
2   The Dark Knight
13        Inception
18     Interstellar
33         Parasite
37     The Departed

C:\Users\User\AppData\Local\Temp\ipykernel_21768\1312525901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb['Title'] = df_IMDb['Title'].apply(lambda x: re.sub(r'^\d+\.\s*', '', str(x)))

In [41]:
#Check the dataset after cleaning
df_IMDb.head()

,Title,Year,Rating,Genre,Director(s),Box Office Revenue,Lead Actors
2,The Dark Knight,2008,9.0,"Action Epic, Epic, Superhero, Tragedy, Action,...","Aaron Eckhart, Michael Caine, The Joker, Jonat...",1009057329,"Aaron Eckhart, Christian Bale, Heath Ledger"
13,Inception,2010,8.8,"Action Epic, Adventure Epic, Epic, Psychologic...","Cobb, Joseph Gordon-Levitt, Leonardo DiCaprio,...",839030630,"Joseph Gordon-Levitt, Leonardo DiCaprio, Ellio..."
18,Interstellar,2014,8.7,"Adventure Epic, Epic, Quest, Sci-Fi Epic, Spac...","Jonathan Nolan, Cooper, Matthew McConaughey, K...",758464713,"Anne Hathaway, Jessica Chastain, Matthew McCon..."
33,Parasite,2019,8.5,"Dark Comedy, Korean Drama, Psychological Thril...","Song Kang-ho, Bong Joon Ho, Han Jin-won, Cho Y...",262608117,"Song Kang-ho, Cho Yeo-jeong, Lee Sun-kyun"
37,The Departed,2006,8.5,"Cop Drama, Epic, Gangster, Crime, Drama, Thriller","Felix Chong, Matt Damon, Dignam, William Monah...",291481358,"Matt Damon, Leonardo DiCaprio, Jack Nicholson"

In [43]:
# Check for null values in each column
df_IMDb.isnull().sum()
print("Null values in each column:\n", df_IMDb.isnull().sum())

Null values in each column:
 Title                 0
Year                  0
Rating                0
Genre                 0
Director(s)           0
Box Office Revenue    0
Lead Actors           0
dtype: int64

In [45]:
# Check for duplicated rows
df_IMDb.duplicated().sum()
print("Number of duplicate rows:", df_IMDb.duplicated().sum())

Number of duplicate rows: 0

In [47]:

# Convert Year column to integer
df_IMDb["Year"] = df_IMDb["Year"].astype(str)

# Convert Rating column to float
df_IMDb["Rating"] = pd.to_numeric(df_IMDb["Rating"], errors="coerce")

# Convert Box Office Revenue to numeric after cleaning 
df_IMDb["Box Office Revenue"] = pd.to_numeric(df_IMDb["Box Office Revenue"], errors="coerce")

# Convert categorical columns to string type
categorical_columns = ["Title", "Genre", "Director(s)", "Lead Actors"]
df_IMDb[categorical_columns] = df_IMDb[categorical_columns].astype(str)

df_IMDb.dtypes

C:\Users\User\AppData\Local\Temp\ipykernel_21768\3931081150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb["Year"] = df_IMDb["Year"].astype(str)
C:\Users\User\AppData\Local\Temp\ipykernel_21768\3931081150.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb["Rating"] = pd.to_numeric(df_IMDb["Rating"], errors="coerce")
C:\Users\User\AppData\Local\Temp\ipykernel_21768\3931081150.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb["Box Office Revenue"] = pd.to_numeric(df_IMDb["Box Office Revenue"], errors="coerce")
C:\Users\User\AppData\Local\Temp\ipykernel_21768\3931081150.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb[categorical_columns] = df_IMDb[categorical_columns].astype(str)

Title                  object
Year                   object
Rating                float64
Genre                  object
Director(s)            object
Box Office Revenue    float64
Lead Actors            object
dtype: object

# 02. Statistical Analysis

In [50]:
# Display basic statistics for numerical columns Rating and Box Office Revenue
print("Summary Statistics for IMDb Dataset:\n")
print(df_IMDb.describe())

Summary Statistics for IMDb Dataset:

          Rating  Box Office Revenue
count  86.000000        8.300000e+01
mean    8.274419        3.933943e+08
std     0.192315        5.079335e+08
min     8.000000        6.735800e+04
25%     8.100000        4.855526e+07
50%     8.200000        2.218022e+08
75%     8.400000        5.111418e+08
max     9.000000        2.799439e+09

In [52]:
# Check the distribution of categorical variables
print("\nCategorical Value Counts:\n")
for col in ["Genre", "Director(s)", "Lead Actors"]:
    print(f"\n{col} Distribution:")
    print(df_IMDb[col].value_counts().head(10))  # Show top 10 most frequent values

Categorical Value Counts:


Genre Distribution:
Genre
Drama                                                                                                                     2
Drama, Family                                                                                                             2
Boxing, Action, Drama, Sport                                                                                              1
Docudrama, Epic, Period Drama, War Epic, Biography, Drama, History, War                                                   1
Caper, Quirky Comedy, Adventure, Comedy, Crime                                                                            1
Costume Drama, Docudrama, Epic, Period Drama, Tragedy, Biography, Drama, History                                          1
Action Epic, Adventure Epic, Car Action, Desert Adventure, Dystopian Sci-Fi, Epic, Quest, Road Trip, Action, Adventure    1
Superhero, Supernatural Fantasy, Urban Adventure, Action, Adventure, Fantasy, Sci-Fi                                      1
Boxing, Tragedy, Drama, Sport                                                                                             1
Dark Fantasy, Fantasy Epic, Teen Adventure, Teen Fantasy, Adventure, Family, Fantasy, Mystery                             1
Name: count, dtype: int64

Director(s) Distribution:
Director(s)
Aaron Eckhart, Michael Caine, The Joker, Jonathan Nolan, The Chechen, David S. Goyer, Christopher Nolan, Salvatore Maroni, The Pipes and Drums of the Chicago Police Department, Jack Nicholson, Christian Bale, Heath Ledger    1
Anthony Tambakis, Matt Berninger, Gavin O'Connor, Referee Josh Rosenthal, Aaron Dessner, Brendan Conlon, Nick Nolte, Cliff Dorfman, Joel Edgerton, Tom Hardy, The National, Tom Conlon                                           1
Howard Doane, Robert Schenkkan, Mel Gibson, Sam Worthington, Fanny Crosby, Luke Bracey, Desmond T. Doss, Desmond Doss, Andrew Garfield, Andrew Knight                                                                            1
Hugo Guinness, Mathieu Amalric, M. Gustave, F. Murray Abraham, Tony Revolori, Ralph Fiennes, Wes Anderson, Harvey Keitel, Stefan Zweig                                                                                           1
Michael Fassbender, Steve McQueen, Solomon Northup, Nicholas Britell, Roosevelt Credit, Bass, Jack Williamson, David Hughey, Edwin Epps, Chiwetel Ejiofor, John Ridley, Michael Kenneth Williams                                 1
Iota, Nux, Nicholas Hoult, Eleni Karaindrou, George Miller, Charlize Theron, Tom Hardy, Nick Lathouris, Brendan McCarthy                                                                                                         1
Benedict Cumberbatch, Peter Parker, Talking Heads, Chris McKenna, David Byrne, Erik Sommers, Tom Holland, Matt Murdock, Stan Lee, Zendaya, Jon Watts, Brian Eno                                                                  1
F.X. Toole, Frankie Dunn, Eddie Scrap-Iron Dupris, Clint Eastwood, Paul Haggis, Morgan Freeman, Hilary Swank, Lucia Rijker                                                                                                       1
Nick Schenk, Dave Johannson, Michael Stevens, Kyle Eastwood, Walt Kowalski, Clint Eastwood, Christopher Carley, Jamie Cullum, Bee Vang, Duke                                                                                     1
David Yates, J.K. Rowling, Daniel Radcliffe, Molly Weasley, Steve Kloves, Rupert Grint, Ralph Fiennes, Emma Watson                                                                                                               1
Name: count, dtype: int64

Lead Actors Distribution:
Lead Actors
Aaron Eckhart, Christian Bale, Heath Ledger                       1
Tom Hardy, Joel Edgerton, Nick Nolte                              1
Sam Worthington, Luke Bracey, Andrew Garfield                     1
Mathieu Amalric, Ralph Fiennes, F. Murray Abraham                 1
Michael Fassbender, Chiwetel Ejiofor, Michael Kenneth Williams    1
Charlize Theron, Tom Hardy, Nicholas Hoult                        1
Benedict Cumberbatch, Zendaya, Tom Holland                        1
Clint Eastwood, Hilary Swank, Morgan Freeman                      1
Bee Vang, Clint Eastwood, Christopher Carley                      1
Daniel Radcliffe, Emma Watson, Rupert Grint                       1
Name: count, dtype: int64