In [1]:
#import neccessary libraries
import pandas as pd
import numpy as np

In [5]:
#Load the dataset
df = pd.read_csv("IMDb_Top10_Movies.csv")
df.head()

,Title,Year,Rating,Genre,Director(s),Box Office Revenue,Lead Actors
0,1. The Shawshank Redemption,1994,9.3 (3M),"Epic, Period Drama, Prison Drama, Drama","The Ink Spots, Jack Lawrence, Stephen King, Ti...","Gross worldwide$29,332,133","Bob Gunton, Morgan Freeman, Tim Robbins"
1,2. The Godfather,1972,9.2 (2.1M),"Epic, Gangster, Tragedy, Crime, Drama","Mario Puzo, Marlon Brando, Peter Clemenza, Al ...","Gross worldwide$250,342,198","Al Pacino, Marlon Brando, James Caan"
2,3. The Dark Knight,2008,9.0 (3M),"Action Epic, Epic, Superhero, Tragedy, Action,...","Aaron Eckhart, Michael Caine, The Joker, Jonat...","Gross worldwide$1,009,057,329","Aaron Eckhart, Christian Bale, Heath Ledger"
3,4. The Godfather Part II,1974,9.0 (1.4M),"Epic, Gangster, Tragedy, Crime, Drama","Mario Puzo, Francesco Pennino, Al Pacino, Robe...","Gross worldwide$47,964,222","Al Pacino, Robert De Niro, Robert Duvall"
4,5. 12 Angry Men,1957,9.0 (917K),"Legal Drama, Psychological Drama, Crime, Drama","Henry Fonda, Jack Warden, Lee J. Cobb, Juror #...","Gross worldwide$2,945","Henry Fonda, Martin Balsam, Lee J. Cobb"

In [11]:
#Check no.of rows and colunms
df.shape

(250, 7)

In [19]:
from datetime import datetime

# Get the current year
current_year = datetime.now().year

# Calculate the starting year for the past two decades
start_year = current_year - 20

# Filter movies released in the last two decades
df_IMDb = df[df['Year'] >= start_year]

df_IMDb.head()

,Title,Year,Rating,Genre,Director(s),Box Office Revenue,Lead Actors
2,3. The Dark Knight,2008,9.0 (3M),"Action Epic, Epic, Superhero, Tragedy, Action,...","Aaron Eckhart, Michael Caine, The Joker, Jonat...","Gross worldwide$1,009,057,329","Aaron Eckhart, Christian Bale, Heath Ledger"
13,14. Inception,2010,8.8 (2.7M),"Action Epic, Adventure Epic, Epic, Psychologic...","Cobb, Joseph Gordon-Levitt, Leonardo DiCaprio,...","Gross worldwide$839,030,630","Joseph Gordon-Levitt, Leonardo DiCaprio, Ellio..."
18,19. Interstellar,2014,8.7 (2.3M),"Adventure Epic, Epic, Quest, Sci-Fi Epic, Spac...","Jonathan Nolan, Cooper, Matthew McConaughey, K...","Gross worldwide$758,464,713","Anne Hathaway, Jessica Chastain, Matthew McCon..."
33,34. Parasite,2019,8.5 (1M),"Dark Comedy, Korean Drama, Psychological Thril...","Song Kang-ho, Bong Joon Ho, Han Jin-won, Cho Y...","Gross worldwide$262,608,117","Song Kang-ho, Cho Yeo-jeong, Lee Sun-kyun"
37,38. The Departed,2006,8.5 (1.5M),"Cop Drama, Epic, Gangster, Crime, Drama, Thriller","Felix Chong, Matt Damon, Dignam, William Monah...","Gross worldwide$291,481,358","Matt Damon, Leonardo DiCaprio, Jack Nicholson"

In [21]:
#Check no.of rows and colunms
df_IMDb.shape

(79, 7)

In [23]:
#Check the data types
df_IMDb.dtypes

Title                 object
Year                   int64
Rating                object
Genre                 object
Director(s)           object
Box Office Revenue    object
Lead Actors           object
dtype: object

In [31]:
import re

# Clean the Rating column to extract only the numeric value before parentheses
df_IMDb['Rating'] = df_IMDb['Rating'].apply(lambda x: re.sub(r'\s?\(.*\)', '', str(x)))

# Check the cleaned data
df_IMDb['Rating'].head()

C:\Users\User\AppData\Local\Temp\ipykernel_26340\986091353.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_IMDb['Rating'] = df_IMDb['Rating'].apply(lambda x: re.sub(r'\s?\(.*\)', '', str(x)))

2     9.0
13    8.8
18    8.7
33    8.5
37    8.5
Name: Rating, dtype: object